@import './utils/normalize';
@import './utils/fonts';
@import './utils/variables';
@import './utils/mixins';
@import './utils/animations';

@import './blocks/page.scss';
@import './blocks/buttons.scss';
@import './blocks/forms.scss';
@import './blocks/header.scss';
@import './blocks/nav.scss';
@import './blocks/menu.scss';
@import './blocks/hamburger.scss';
@import './blocks/about-section.scss';
@import './blocks/journal-section.scss';
@import './blocks/contact-section.scss';
@import './blocks/work-section.scss';
