$color-main: #36aeea;
$color-blue-1: #0083b3;
$color-blue-2: #16b5ef;
$color-blue-3: #29c5f6;
$color-blue-4: #6788ce;
$color-blue-5: #54769a;
$color-blue-6: #56c7ff;

$color-border-danger: #dc5238;

$color-headers: #2c2e37;
$color-text-1: #949494;
$color-text-2: #777777;
$color-text-3: #888888;

$color-grey-light-1: #9daeb6;
$color-grey-light-2: #95a5ad;
$color-grey-light-3: #bcbcbc;
$color-grey-light-4: #adadad;
$color-grey-light-5: #848484;
$color-grey-light-6: #cccccc;

$color-grey-dark-1: #212121;
$color-grey-dark-2: #202020;
$color-grey-dark-3: #383e4a;

$shadow-default: 3px 3px 20px $color-main;
$shadow-red: 3px 3px 20px $color-border-danger;

$font-brigin: 'Bringin';
$font-robot: 'Roboto';
