.btn {
  width: 252px;
  height: 60px;
  background-color: $color-main;
  box-shadow: 0px 0px 35px 0px rgba(2, 3, 3, 0.05);
  border-radius: 4px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-image: linear-gradient(to right, $color-main, $color-blue-1);
    box-shadow: 1px 3px 10px $color-main;
    color: #fff;
    border: none;
  }

  &--call {
    width: 153px;
    height: 46px;
    background-color: transparent;
    border: 3px solid $color-main;
    font-size: 12px;
    color: $color-main;
  }
}
