.contact {
  background: url(../img/bg_2.jpg) center center/cover no-repeat;

  &__container {
    @include container();
    padding-top: 146px;
    min-height: 650px;

    @media (max-width: 1199px) {
      padding-top: 40px;
      min-height: 470px;
    }
  }

  &__wave-svg {
    opacity: 0.2;
  }

  &__heading {
    margin-top: 41px;
    margin-bottom: 25px;
    @include heading(20px);
  }

  &__descr {
    margin-bottom: 29px;
    @include descr(16px);
  }

  &__req {
    margin-top: 19px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: $color-main;

    svg {
      margin-right: 12px;
    }
  }
}
