.journal {
  padding: 71px 0 90px 0;
  text-align: center;

  &__container {
    @include container();
  }

  &__wave-svg {
    opacity: 0.2;
  }

  &__heading {
    @include heading(30px);
    margin-top: 36px;
    margin-bottom: 71px;
  }

  &__row {
    @include row();
  }

  &__img {
    flex: 0 0 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--1 {
      background: url(../img/journal/journal_1.jpg) center center/cover
        no-repeat;
    }

    &--2 {
      background: url(../img/journal/journal_2.jpg) center center/cover
        no-repeat;
    }

    &--3 {
      background: url(../img/journal/journal_3.jpg) center center/cover
        no-repeat;
    }

    svg {
      height: 81px;
      width: 81px;
      fill: #fff;
    }
  }

  &__item {
    flex: 0 0 33.333333%;
    padding: 47px 54px;
    text-align: center;
  }

  &__name {
    font-size: 11px;
    line-height: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $color-blue-1;
    margin-bottom: 55px;

    &--1 {
      color: $color-blue-2;
    }
  }

  &__header {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $color-grey-dark-1;

    &--2 {
      color: $color-grey-dark-2;
    }
  }

  &__descr {
    margin-bottom: 39px;
    line-height: 22px;
    color: $color-text-2;

    &--3 {
      color: $color-text-3;
    }
  }

  &__number {
    font-style: italic;
    line-height: 17px;
    color: $color-grey-dark-1;
  }
}
