.nav {
  background-color: rgba(255, 255, 255, 0.23);

  &__wrapper {
    @include container();
    min-height: 88px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__brand {
    margin: 0 61px 0 15px;
    font-family: $font-brigin;
    font-size: 29px;
    line-height: 44px;
    color: $color-main;
    animation: moveInLeft 1s ease-out;

    @media (max-width: 991px) {
      margin: 0 15px;
    }

    span {
      color: $color-grey-light-2;
    }
  }

  &__menu {
    width: 514px;
    margin: 0;
    margin-right: auto;
  }
}
